.box{
      background-color : rgba(255, 255, 255, 0.15) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 45px;
      padding    : 10px;
      margin-bottom: 45px;
}
.boxImg {
      text-align: center;
}
.boxImg img{
     border-radius: 50%;
}
.boxinfo {
      color: rgb(9, 21, 133);
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 8px 8px;
}
.topimg {
      text-align: center;
}